body {
    font-family: sans-serif;
}

.menu {
    text-decoration: none;
    color: #000;
}

.slider {
    height: 500px;
    background: #ddd;
}

.line {
    background: #000;
    width: 100px;
    height: 2px;
}

.content {
    text-align: justify;
}

.sidebar {
    width: 200px;
    background-color: #ddd;
    text-align: center;
}

.footer {
    text-align: center;
    background-color: #ddd;
}